params {
    outputDir = '~/scratch/CQDGoutput/'
    TSfilterSNP = '99.0'
    TSfilterINDEL = '99.0'
    hardFilters = [[name: 'QD2', expression: 'QD < 2.0'],
		   [name: 'QD1', expression: 'QD < 1.0'],
                   [name: 'QUAL30', expression: 'QUAL < 30.0'],
                   [name: 'SOR3', expression: 'SOR > 3.0'],
                   [name: 'FS60', expression: 'FS > 60.0'],
                   [name: 'MQ40', expression: 'MQ < 40.0'],
                   [name: 'MQRankSum-12.5', expression: 'MQRankSum < -12.5'],
                   [name: 'ReadPosRankSum-8', expression: 'ReadPosRankSum < -8.0']]
}
process {
  container = 'ubuntu'
  disk = 40.GB
  pod = [ [emptyDir: [:], mountPath: '/scratch'] ]
  scratch = '/scratch'
  withName: 'excludeMNPs|splitMultiAllelics' {
    container = 'staphb/bcftools:1.19'
  }
  withName: 'importGVCF|genotypeGVCF_multi|genotypeGVCF_solo|genotypeGVCF|variantRecalibratorSNP|variantRecalibratorIndel|applyVQSRIndel|applyVQSRSNP|hardFiltering|gatherVCF' {
    container = 'broadinstitute/gatk:4.5.0.0'
  }
  withName: vep {
    container = 'ensemblorg/ensembl-vep:release_111.0'
  }
  withName: tabix {
    container = 'staphb/htslib:1.19'
  }
  withName: 'excludeMNPs' {
    errorStrategy = 'retry'
    maxRetries = 1
    cpus = 2
    memory = 14.GB
    disk = 50.GB
    time = {8.h * task.attempt}
  }
  withName: 'importGVCF' {
    errorStrategy = 'retry'
    maxRetries = 1
    cpus = 2
    memory = 14.GB
    disk = 80.GB
    time = {8.h * task.attempt}
  }
  withName: 'genotypeGVCF_multi|genotypeGVCF_solo|genotypeGVCF' {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus = 2
    memory = 14.GB
    disk = {40.GB * task.attempt}
    time = {8.h * task.attempt}
  }
  withName: 'variantRecalibratorSNP|variantRecalibratorIndel|applyVQSRIndel|applyVQSRSNP|gatherVCF|splitMultiAllelics|tabix' {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus = 2
    memory = 14.GB
    disk = {30.GB * task.attempt}
    time = {10.h * task.attempt}
  }
  withName: 'vep' {
    errorStrategy = 'retry'
    maxRetries = 2
    cpus = 4
    memory = 16.GB
    disk = {80.GB * task.attempt}
    time = {10.h * task.attempt}
  }
}
executor {
  queueSize = 80
  pollInterval = '60 sec'
  submitRateLimit = '10/1min'
}