
// Your configuration file is expected to contain the following parameters:
params {
    broad = '/path/to/broad/'
    referenceGenome = '/path/to/reference/genome/'
    referenceGenomeFasta = 'Homo_sapiens_assembly38.fasta'
    TSfilterSNP = '99.0'
    TSfilterIndel = '99.0'
}


// All invoked processes by this workflow use the gatk command line tool. 
// Here is an example process scope configuration.
process {
    withName: 'variantRecalibratorSNP|variantRecalibratorIndel|applyVQSRIndel|applyVQSRSNP' {
        container = 'broadinstitute/gatk:4.5.0.0'
        errorStrategy = 'retry'
        maxRetries = 2
        cpus = 2
        memory = 14.GB
        disk = {30.GB * task.attempt}
        time = {10.h * task.attempt}
    }
}